#id {
    height: 600px;
    width: 400px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 5px solid black;
}

#id2 {
    height: 200px;
    width: 200px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}